<a href="https://colab.research.google.com/github/SaiRithik24/AD/blob/main/FEATURE_SCALING2_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["male", "female", "male", "female"],
    "city": ["Hyderabad", "pune", "bangalore", "mumbai"],
    "fruits": ["apple", "orange", "banana", "kivi"]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

one_hot_encoder = OneHotEncoder(sparse_output=False)
columns_to_encode = ["gender", "city", "fruits"]
encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])
encoded_columns = one_hot_encoder.get_feature_names_out(columns_to_encode)
encoded_df = pd.DataFrame(encoded_data, columns=encoded_columns)

print("\nOne_Hot Encoded DataFrame:")
print(encoded_df)

Original DataFrame:
   customer_id  gender       city  fruits
0            1    male  Hyderabad   apple
1            2  female       pune  orange
2            3    male  bangalore  banana
3            4  female     mumbai    kivi

One_Hot Encoded DataFrame:
   gender_female  gender_male  city_Hyderabad  city_bangalore  city_mumbai  \
0            0.0          1.0             1.0             0.0          0.0
1            1.0          0.0             0.0             0.0          0.0
2            0.0          1.0             0.0             1.0          0.0
3            1.0          0.0             0.0             0.0          1.0

   city_pune  fruits_apple  fruits_banana  fruits_kivi  fruits_orange
0        0.0           1.0            0.0          0.0            0.0
1        1.0           0.0            0.0          0.0            1.0
2        0.0           0.0            1.0          0.0            0.0
3        0.0           0.0            0.0          1.0            0.0