<a href="https://colab.research.google.com/github/SaiRithik24/AD/blob/main/FEATURE_SCALING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

data = {
    "customer_id": [1, 2, 3, 4],
    "gender": ["Male", "Female", "Female", "Male"],
    "city": ["Hyderabad", "Pune", "Bangalore", "Mumbai"],
    "fruits": ["Apple", "Orange", "Kiwi", "Banana"]
}
df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

one_hot_encoder = OneHotEncoder(sparse_output=False)

columns_to_encode = ["gender", "city", "fruits"]

encoded_data = one_hot_encoder.fit_transform(df[columns_to_encode])

encoded_df = pd.DataFrame(encoded_data, columns=one_hot_encoder.get_feature_names_out(columns_to_encode))

final_df = pd.concat([df, encoded_df], axis=1).drop(columns_to_encode, axis=1)
print("\nDataFrame with One-Hot Encoded columns:")
print(final_df)

Original DataFrame:
   customer_id  gender       city  fruits
0            1    Male  Hyderabad   Apple
1            2  Female       Pune  Orange
2            3  Female  Bangalore    Kiwi
3            4    Male     Mumbai  Banana

DataFrame with One-Hot Encoded columns:
   customer_id  gender_Female  gender_Male  city_Bangalore  city_Hyderabad  \
0            1            0.0          1.0             0.0             1.0
1            2            1.0          0.0             0.0             0.0
2            3            1.0          0.0             1.0             0.0
3            4            0.0          1.0             0.0             0.0

   city_Mumbai  city_Pune  fruits_Apple  fruits_Banana  fruits_Kiwi  \
0          0.0        0.0           1.0            0.0          0.0
1          0.0        1.0           0.0            0.0          0.0
2          0.0        0.0           0.0            0.0          1.0
3          1.0        0.0           0.0            1.0          0.0

   fruits_Orange
0            0.0
1            1.0
2            0.0
3            0.0

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = {
    "customer_id": [1, 2, 3, 4],
    "Ranks": ["first", "second", "third", "fourth"],
    "fruits": ["orange", "apple", "pineapple", "watermelon"]
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

label_encoder = LabelEncoder()
df["fruits"] = label_encoder.fit_transform(df["fruits"])
df["Ranks"] = label_encoder.fit_transform(df["Ranks"])
print("\nDataFrame after encoding ranks with custom order:")
print(df)

Original DataFrame:
   customer_id   Ranks      fruits
0            1   first      orange
1            2  second       apple
2            3   third   pineapple
3            4  fourth  watermelon

DataFrame after encoding ranks with custom order:
   customer_id  Ranks  fruits
0            1      0       1
1            2      2       0
2            3      3       2
3            4      1       3